<div class="container-fluid"></div>
<div class="container">
  <label>
    Add Tag:
    <textarea #newTag type="text" [(ngModel)]="tags" rows="5"> </textarea>
  </label>
  <br />
  <button (click)="addTag(newTag.value)" class="btn btn-primary">
    Add Tag
  </button>
  <br />
  <ul class="d-flex" style="list-style: none;">
    <li *ngFor="let t of tag; let i = index" #ival>
      <div *ngIf="t >= 0; then thenblock; else elseblock"></div>
      <!-- this template display possitive value -->
      <ng-template #thenblock>
        <div class="text-danger ">
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteTag(i)"
            style="margin:5px;"
          >
            {{ t }} x
          </button>
        </div>
      </ng-template>
      <br />
      <!-- this template display negative value -->
      <ng-template #elseblock>
        <div class="text-primary">
          <button
            type="button"
            class="btn btn-primary"
            (click)="deleteTag(i)"
            style="margin:5px;"
          >
            {{ t }} x
          </button>
        </div>
      </ng-template>
    </li>
  </ul>
  <br />
  <!-- Button for open a modal window -->
  <div *ngIf="tag.length !== 0; then buttonBlock"></div>
  <ng-template #buttonBlock>
    <button class="btn btn-primary" (click)="open(content)">
      Edit tags
    </button>
  </ng-template>
  <!-- This is modal window -->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Tags</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Edit tags:</p>
      <textarea [(ngModel)]="editText" rows="5"></textarea>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="d('Cross click')"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="onSave(editText); c()"
      >
        Save
      </button>
    </div>
  </ng-template>
</div>
<!-- </div> -->

<router-outlet></router-outlet>
